<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently at
      <a class="underline-link" href="https://www.stanford.edu/" target="_blank"
        >Stanford University</a
      >
      studying Computer Science expecting to graduate in June 2024. I've
      previously interned at
      <a class="underline-link" href="https://meta.com/" target="_blank">Meta</a
      >,
      <a
        class="underline-link"
        href="https://www.wellsfargo.com/"
        target="_blank"
        >Wells Fargo</a
      >, and
      <a
        class="underline-link"
        href="https://www.elementbiosciences.com/"
        target="_blank"
        >Element Biosciences</a
      >. Now I'm working on
      <a class="underline-link" href="http://habsim.org/" target="_blank"
        >HABSIM</a
      >, a project part of
      <a class="underline-link" href="https://stanfordssi.org/" target="_blank"
        >Stanford Student Space Initiative's</a
      >
      (SSI) Balloons team.
    </p>
    <!--
    <p>
      As a software engineer, I enjoy  bridging the gap between engineering and
      design &mdash; combining my technical knowledge with my keen eye for
      design to create a beautiful product. My goal is to always build
      applications that are scalable and efficient under the hood while
      providing engaging, pixel-perfect user experiences.
    </p>
-->
    <p>
      <strong>In my free time</strong>, I'm probably playing basketball or
      volleyball, making pottery, or jumping into bodies of water.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
